<h1><%=@player_1_name%> has attacked <%=@player_2_name%>!</h1>

<h1><%=@player_2_name%>'s HP has reduced by 10!</h1>


<form action="/play">
  <input type="submit" value="go back to battle!">
</form>
