<h1><%=@player_1.name%> has attacked <%=@player_2.name%>!</h1>

<h1><%=@player_2.name%>'s HP has reduced by 10!</h1>


<form action="/play">
  <input type="submit" value="go back to battle!">
</form>
