'<div style="border: 2px dashed red">
  <img src="http://tinyurl.com/3sqwntc">

<h1>"GOOD DAY !"<%=@doggy_names%></h1>
</div>'

<form action="/named-dog">
  <input type="text" name="name">
  <input type="submit" value="Do a dance">
</form>
