<div style="border: 2px dashed red">
  <img src="http://tinyurl.com/3sqwntc">

  <h1><%=@player_1.name%> are yuuuuuu ready!?</h1>
  <h1><%=@player_2.name%> are yuuuuuu ready!?</h1>
  <h1>Let Battle Commence!</h1>

  <h1><%=@player_2.name%> has <%=@player_2.hit_points%> points!</h1>

  <form action="/attack">
    <input type="submit" value="ATTACK!">
  </form>
